# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons
/build
/deploy

# Dependency directory
node_modules
bower_components

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

bin

# Jetbrains project files
.idea

# Scraper data
/data