.game-info-container
{
    .polarity-stats
    {
        > div
        {
            padding: 0 30px;
        }

        .polarity-table-header
        {
            padding: 0 20px;
        }
        .polarity-list
        {
            > li
            {
                padding: 0 20px;
            }
        }
    }
}