<div class="panel panel-default" ui-sref="gameInfo({appId: game.appId })">
    <div class="panel-body row">
        <div class="col-xs-3">
            <img src="" alt="Some Image" class="img-thumbnail img-responsive">
            <hr>
            <div class="label label-info">
                Accuracy: {{game.accuracy || "N/A"}}{{game.accuracy ? "%" : ""}}
            </div>
        </div>
        <div class="col-xs-9">
            <h4>
                {{game.title}}
            </h4>
            <hr>
            <div>
                <h5 class="text-center" style="margin-bottom: -15px">
                    Train
                </h5>
                <pos-neg-bar pos="game.reviewsPercentages.train.positive" neg="game.reviewsPercentages.train.negative"></pos-neg-bar>
            </div>
            <hr>
            <div>
                <h5 class="text-center" style="margin-bottom: -15px">
                    Test
                </h5>
                <pos-neg-bar pos="game.reviewsPercentages.test.positive" neg="game.reviewsPercentages.test.negative"></pos-neg-bar>
            </div>
            <hr>

            <div class="pull-left">
                App ID: {{game.appId}}
            </div>
            <div class="pull-right">
                {{game.reviewsCount | number:0}} reviews
            </div>
        </div>
    </div>
</div>