<div class="panel panel-default">
    <div class="panel-body row">
        <div class="col-xs-3">
            <img src="" alt="Some Image" class="img-thumbnail img-responsive">
        </div>
        <div class="col-xs-9">
            <h3>{{game.title}} ({{game.id}})</h3>
            <uib-progress>
                <uib-bar value="69" type="success">
                    <span>Positive: 69%</span>
                </uib-bar>
                <uib-bar value="31" type="danger">
                    <span>Negative: 31%</span>
                </uib-bar>
            </uib-progress>
            <hr>

            <div class="pull-right">
                4,462 reviews
            </div>
        </div>
    </div>
</div>