<div ng-controller="GameInfoController as gameInfo"  class="col-md-12">
        <div class="panel-body row">
            <div class="col-xs-2">
                <img src="" alt="Some Image" class="img-thumbnail img-responsive">
            </div>
            <div class="col-xs-10">
                <h4>
                    {{gameInfo.game.title}}
                </h4>
                <pos-neg-bar pos="gameInfo.positive" neg="gameInfo.negative"></pos-neg-bar>
                <hr>
                   <div class="pull-left">
                    App ID: {{gameInfo.game.appId}}
                </div>
                <div class="pull-right">
                    {{gameInfo.reviewsCount | number: 0}} Reviews
                </div>
            </div>
        </div>
    <hr>
    <div>
        <h3 class="text-center">Top 5 Good Things</h3>
        <div class="col-md-12 text-center" ng-repeat="n in gameInfo.goodFeatures track by $index">
            <p>{{n}}</p>
        </div>
    </div>
    <hr>
    <div>
        <h3 class="text-center">Top 5 Bad Things</h3>
        <div class="col-md-12 text-center" ng-repeat="n in gameInfo.badFeatures track by $index">
            <p>{{n}}</p>
        </div>
    </div>
    <hr>
    <div>
        <h3 class="text-center">Top Reviews</h3>
        <div class="scol-md-12 text-center" ng-repeat="n in gameInfo.topReviews track by $index">
            <p>{{n}}</p>
        </div>
    </div>
</div>
